@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    color: white;

    background: url(img4.png);
    background-position: center;
    background-size: cover;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    backdrop-filter: blur(20px);
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);

    padding: 30px 40px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-div {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
    
}

.input-div input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    
    padding: 20px 45px 20px 20px;
}

.input-div input::placeholder {
    
    color: white;
}

.input-div span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 20px;
}

#ilogin {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;

    cursor: pointer;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
}

.remember label input {
    accent-color: white;
    margin-right: 3px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.register {
    text-align: center;
    margin: 20px 0 15px;
}